{% load static %}
<html>
    <head>
        <title>Blog de Renzo Lanata</title>
        
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1>Blog de Renzo pa jijijiji</h1>
        </div>
        {% for publicacion in publicaciones %}
        <div>
            <p> publicado: {{ publicacion.fecha_publicacion }}</p>
            <h2><a href="">{{ publicacion.titulo }}</a></h2>
            <p>{{ publicacion.texto|linebreaksbr }}</p>
            <hr>
        </div>
        {% endfor %}

    </body>
</html>